body {
    padding-top: 60px;
}

img {
    max-width: 400px;
    max-height: 320px;
    width: auto;
    height: auto;
}

a {
    cursor: pointer;
    width: 50%;
}


.col-md-3 {
    cursor: pointer;
}


.row {
    padding-top: 4%;
    text-align: center;
}


.delete-button {
    float: right;
}

.title-button {
    float: left;
    display: inline;
}